<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_mainLayout}">

<body>
<div layout:fragment="content">

    <h1>Crear nuevo usuario</h1>
    <form th:action="@{/usuarios/save}" th:object="${usuario}" method ="post">
        <div class ="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del usuario" required>
                </div>
            </div>
        </div>

        <div class ="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" th:field="*{apellido}" id="apellido" placeholder="Escriba el apellido del usuario" required>
                </div>
            </div>
        </div>

        <div class ="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Correo electronico</label>
                    <input type="text" class="form-control" th:field="*{correo}" id="correo" placeholder="Escriba el correo del usuario" required>
                </div>
            </div>
        </div>

        <div class ="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" th:field="*{contrasena}" id="contrasena" placeholder="Escriba la contrasena del usuario" required>
                </div>
            </div>
        </div>

        <div class ="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rol">Rol</label>
                    <select class="form-control" th:field="*{rol.id}" id="rol" required>
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option th:each="rol : ${roles}"
                                th:value="${rol.id}"
                                th:text="${rol.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>


        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/usuarios}">Regresar</a>
    </form>
</div>