<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Beauty Time</title>
    <link th:href="@{/css/estilosGlobales.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=NATS&display=swap" rel="stylesheet">

</head>
<body>

<header id="header">
    <div class="menu-logo">
        <div class="div-logo">
            <h2>BeautyTime</h2>
        </div>

        <nav class="nav">
            <ul>
                <li><a class="nav-link" th:href="@{/}">Inicio</a></li>
                <li><a class="nav-link" th:href="@{/citas/mis-citas}">Mis Citas</a></li>
                <li><a class="nav-link" th:href="@{/categorias}">Panel Administrativo</a></li>
            </ul>
        </nav>

        <div class="auth-buttons">

            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/usuarios/create}" class="btn-auth btn-register">Registro</a>
                <a th:href="@{/login}" class="btn-auth btn-login">Iniciar Sesión</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <span class="user-welcome me-2">Bienvenido/a a BeautyTime</span>

                <form id="logout-form" th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit" id="logout-button" class="btn btn-danger btn-logout">Cerrar Sesión</button>
                </form>
            </div>

        </div>
    </div>
</header>

<div layout:fragment="content"></div>

<footer id="footer">
    <div class="footer-content">
        <p>&copy; <span id="current-year"></span> BeautyTime. Todos los derechos reservados.</p>
        <p class="footer-slogan">Tu belleza, nuestra prioridad.</p>
    </div>
</footer>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script src="/js/mainLayout.js"></script>

</body>
</html>