:root {
  /* 🎨 Paleta de Colores */
  --moradoPrincipal: #A516E6 ;
  --rosadoMedio: #FD6889;
  --moradoOscuro: #AE2495;
  --grisMedio: #838383;
  --rosadoClaro: #FF7E80;
  --moradoSecundario: #C355A8;
  --blanco: #FFFFFF;
  --rosadoMuyClaro: #FECDF7;
  --grisOscuro: #3D3D3D;
  --fucsia: #F80B8D;

  /* 🖋️ Fuentes globales (ya estaban) */
  --fuente-titulos: 'Montserrat', sans-serif;
  --fuente-parrafos: 'NATS', sans-serif;
}

/* ====== FUENTES GLOBALES ====== */
body {
  font-family: var(--fuente-parrafos);
  margin: 0;
  padding: 0;
}

/* Títulos y subtítulos */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--fuente-titulos);
  font-weight: 600;
}